/* TRAVELL PLACES */

.new {
    display: block;
    margin-left: 5px;
    background: white;
    padding: 20px 25px;
    border-radius: 10px;
    margin: center;
    width: 80%;
    text-align: justify;
    /* background: rgb(255, 237, 237); */
    /* border: 2px solid black; */
}

.new1 {

    background: white;
    padding: 2px 5px;
    height: 50px;
    width: auto;
    text-decoration: none;
    /* background: rgb(255, 237, 237); */
    /* border: 2px solid black; */
}

.destimage {
    width: 100px;
    height: 200px;
}





/* PROFILE CSS */

.container-profile {
    background: rgb(253, 246, 249);
    font-style: normal;
    font-family: Gabriola;
    font-size: 30px;
    line-height: 45px;
    color: rgb(46, 44, 44);
    word-spacing: 5px;
    text-align: center;
    height: 400px;
}



.loader {
    margin-left: 500px;
    width: 500px;
    height: 400px;
}